@import '../Variables.scss';

.about-us-description{
  width:65%;
  margin:0 auto;
  p{
    font-size:1.2em;
    color:$neutral;
  }
  p+p{
    margin-top:20px;
  }
}

.president{
  margin:60px 0 40px 0;
  text-align: center;
}

.employees{
  display:inline-block;
  max-width:750px;
}
.center-employees{
  text-align: center;
}

.badge{
  margin:0 15px 15px 15px;
}


/* MAIN CONTAINER */
@media only screen and (max-width:1200px){

}

/* IPAD PRO */
@media only screen and (max-width:1024px){

}

/* IPAD */
@media only screen and (max-width:768px){

}

/* CUSTOM */
@media only screen and (max-width:750px){
  .employees{
    width:500px;
  }

}

/* CUSTOM */
@media only screen and (max-width:520px){
  .about-us-description{
    width:100%;
    p{
      padding: 0 $container-padding;
    }

  }
  .employees{
    width:320px;
  }
}

/* IPHONE 6/7/8 PLUS */
@media only screen and (max-width:414px){

}

/* IPHONE X/6/7/8 */
@media only screen and (max-width:375px){

}

/* IPHONE 5/SE */
@media only screen and (max-width:325px){

}
