@import '../Variables.scss';

.about-us{
  text-align:center;
  padding-bottom:120px;
  .display-inline-block{
    display:inline-block;
    .description{
      text-align: left;
      margin:15px 0 0 100px;
      width:620px;
      p{
        color:$neutral;
        font-size:20px;
      }
      p+p{
        margin-top:15px;
      }

    }
  }
  .employees{
    margin-top:60px;
    .badge + .badge{
      margin-left: 80px;
    }
  }

}
