@import '../Variables.scss';

.certificate{
  width:20%;
  padding:0 30px;
  text-align: center;
  margin-bottom:80px;
  .image-height{
    height:210px;
    margin-bottom:10px;
    .cert{
      max-height:200px;
      width:auto;
      max-width:100%;
    }
  }

  .title{
    font-size:26px;
    font-weight: bold;
    text-transform: uppercase;
    color:$primary;
    margin-bottom:8px;
  }
  .date{
    font-size:18px;
    text-transform: uppercase;
    font-weight:bold;
    color:$accent;
    margin-bottom:8px;
  }
  .description{
    font-size:16px;
    color:$neutral;
  }
}
