@import '../Variables.scss';

.circle-container{
  overflow: hidden;
  width:100%;
  height:100%;
  border-radius:50%;
  img{
    height:100%;
    width:auto;
  }
}

.small-image{
  width:200px;
  height:200px;
}

.full-image{
  width:270px;
  height:270px;
}

.circle-container-primary{
  border:5px solid $primary;
}

.circle-container-white{
  border:5px solid #ffffff;
}
