@import '../Variables.scss';

.circle-container{
  overflow: hidden;
  width:260px;
  height:260px;
  border-radius:50%;
  img{
    height:100%;
    width:auto;
  }
}

.circle-container-primary{
  border:5px solid $primary;
}

.circle-container-white{
  border:5px solid #ffffff;
}
