@import '../Variables.scss';

.contact-form{
  width:450px;
  h2{
    color:$white;
    text-transform: uppercase;
    font-size:20px;
    font-weight:bold;
    margin-bottom:30px;
  }
  input[type=text]{
    width:-webkit-fill-available;
    border-radius: 10px;
    padding:10px 10px;
    border:3px solid $white;
    display:block;
    font-size:16px;
    color:$neutral;
  }

  input[type=text]:focus {
    border: 3px solid $accent;
    outline: none;
  }

  textarea{
    font-size:16px;
    color:$neutral;
    width:426px;
    height:140px;
    border:3px solid $white;
    display:block;
    border-radius: 10px;
    padding:10px 10px;
  }

  textarea:focus{
    border: 3px solid $accent;
    outline: none;
  }

  label{
    display:block;
    color:$white;
    font-size:16px;
    font-family: $sans-serif;
    margin-top:20px;
    margin-bottom:5px;
  }

  .submit{
    margin-top:20px;
    display:block;

    color: white;
    border:none;
    padding:10px 50px;
    font: bold 18px arial, sans-serif;
    border-radius:10px;
    cursor: pointer;
    text-shadow:none;
  }
  .error-message{
    margin-top:15px;
    background:$yellow;
    padding:20px;
    border-radius:10px;
    p{
      color:$primary;
      font-weight: bold;
    }
  }
  .input-errors{
    color:$secondary;
    font-weight:bold;
    margin-bottom:5px;
  }
}

/* MAIN CONTAINER */
@media only screen and (max-width:1200px){

}

/* IPAD PRO */
@media only screen and (max-width:1024px){
  .contact-form{
    padding-bottom:50px;
    margin:0 auto;
  }
}

/* IPAD */
@media only screen and (max-width:768px){

}

/* CUSTOM */
@media only screen and (max-width:500px){
  .contact-form{
    width:275px;
    textarea{

      width:250px;

    }
  }

}

/* IPHONE 6/7/8 PLUS */
@media only screen and (max-width:414px){

}

/* IPHONE X/6/7/8 */
@media only screen and (max-width:375px){

}

/* IPHONE 5/SE */
@media only screen and (max-width:325px){

}
