@import '../Variables.scss';

.center-image{
  margin:0 auto;
  display:block;
}

.position-relative{
  position:relative;
}

.position-absolute{
  position:absolute;
  top:150px;
  width:100%;
}

.hero-text{
  padding:0 100px;
  color:#333333;
  font-size:36px;
  font-weight: bold;
  text-align: center;
}

.center-image{
  img{
    display:block;
    }
}

@media only screen and (max-width:1215px){
  .hero-image{
    img{
      width:100%;
      max-width:900px;
    }
  }
}

@media only screen and (max-width:1000px){
  .hero-text{
    padding:0 $container-padding;
    font-size:28px;
  }
}

@media only screen and (max-width:800px){
  .hero-image{
    margin-top:50px;
  }
}

@media only screen and (max-width:750px){
  .position-absolute{
    top:70px;
  }
}

@media only screen and (max-width:630px){
  .position-absolute{
    position:relative;
    top:0;
  }
  .hero-image{
    margin-top:50px;
  }
  .hero-text{
    font-size:20px;
    margin-bottom:20px;
  }
}
