.center-image{
  margin:0 auto;
  display:block;
}

.position-relative{
  position:relative;
}

.hero-text{
  position:absolute;
  top:150px;
  left:220px;
  color:#333333;
  font-size:36px;
  font-weight: bold;
  width:950px;
  text-align: center;
}

.center-image{
  img{
    display:block;
    }
}
