@import '../Variables.scss';

.navigation-container{
  width:100%;
  padding-top:15px;
}

.show-hamburger{
  display:none;
}

.logo{
  float:left;
}
.logo-min{
  height:50px!important;
  width:auto;
}

ul{
  float:right;
  list-style-type: none;
  li+li{
    margin-left:25px;
  }
  li{
    display:inline;
    a{
      font-size:$main-font-size;
      text-decoration:none;
      text-transform: uppercase;
      font-weight: bold;
      color:$neutral;
    }
    a:hover{
      color:$secondary;
      border-bottom: 2px solid $secondary;
    }
  }
}

.scrolled{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background:rgba(255, 255, 255, .9);
  z-index: 10000;
}



/* MAIN CONTAINER */
@media only screen and (max-width:1200px){
  ul{
    margin-right:$container-padding!important;
    margin-left:$container-padding!important;
  }
  .logo{
    margin-left:$container-padding!important;
    height:70px;
    width:auto;
  }

}

/* IPAD PRO */
@media only screen and (max-width:1024px){

}

/* IPAD */
@media only screen and (max-width:768px){

}

/* CUSTOM */
@media only screen and (max-width:700px){
  .logo{
    float:none;
  }
  ul{
    margin-top:15px!important;
    display:block;
    float:none;
  }
}

/* CUSTOM */
@media only screen and (max-width:600px){
  .logo{
    float:none;
  }

  .scrolled{
    position: relative;
  }
}

/* CUSTOM */
@media only screen and (max-width:500px){
  .logo{
    margin-left:10px!important;
    height:40px;
    margin-bottom:10px;
  }

  .show-hamburger{
    display:block;
    float:right;
    cursor: pointer;
  }

  .show-menu{
    max-height: 200px;
    overflow:visible;
  }
  .hide-menu{
    max-height: 0;
    overflow: hidden;
  }

  ul{
    margin-right:0px!important;
    margin-left:0px!important;
    margin-top:0px!important;
    max-height: 200px;
    transition:max-height .2s;
    -webkit-transition: max-height .2s;
    background: $accent;

    li+li{
      margin-left: 0;
    }
    li{

      padding:15px 0;
      display:block;
      float:none;
      text-align:center;
      width:100%;
      a{
        font-size:1em;
        color:$neutral;
      }

    }
    li:hover,li:focus{
      a{
        color:$white;
        border-bottom:none;
      }
    }
  }
}

/* IPHONE 6/7/8 PLUS */
@media only screen and (max-width:414px){

}

/* IPHONE X/6/7/8 */
@media only screen and (max-width:375px){

}

/* IPHONE 5/SE */
@media only screen and (max-width:325px){

}
