@import '../Variables.scss';

.navigation-container{
  width:100%;
  padding-top:40px;
  .float-left-logo{
    float:left;
  }
  .float-right-nav{
    float:right;
  }
  ul{
    padding-top:10px;
    list-style-type: none;
    li+li{
      padding-left:25px;
    }
    li{
      display:inline;

      a{
        padding-top:30px;
        text-decoration:none;
        text-transform: uppercase;
        font-weight: bold;
        color:$neutral;
      }
      a:hover{
        color:$secondary;
        border-bottom: 2px solid $secondary;
      }
    }
  }
  .logo{
    float:left;
  }
  .logo-min{
    width:50px;
    height:auto;
  }
  .logo-text{

    float:left;
    color:$primary;
    font-weight:bold;
  }
  .logo-text-min{
    padding-top:15px;
    font-size:12px;
  }
  .logo-text-full{
    padding-top:34px;
    font-size:25px;
  }
}
.scrolled{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background:rgba(255, 255, 255, .9);
  z-index: 10000;
  padding-top:10px;
  .logo{
    img{
      width:10px;
    }
  }
}

@media only screen and (max-width:1215px){
  .navigation-container{
    padding-top:25px;
    ul{
      margin-right:$container-padding;
    }
    .logo{
      float:left;
      margin-left:$container-padding;
      width:80px;
      height:auto;
    }
    .logo-text-full{
      padding-top:28px;
      font-size:18px;
    }
  }
}

@media only screen and (max-width:700px){
  .navigation-container{
    padding-top:10px;
    .float-right-nav{
      float:none;
      padding-left:$container-padding;
    }
    .float-left-logo{
      float:none;
      img{
        width:50px;
        height:auto;
      }
      .logo-text-full{
        padding-top: 15px;
font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width:500px){
  .navigation-container{

    .float-right-nav{
      padding-left:0;
    }
    ul{
      padding-top:10px;
      list-style-type: none;
      margin-right:0;
      li+li{
        padding-left:0px;
      }
      li{
        display:block;
        width:25%;
        text-align: center;
        float:left;
        a{
          padding-top:30px;
          text-decoration:none;
          text-transform: uppercase;
          font-weight: bold;
          color:$neutral;
          font-size:10px;
        }
        a:hover{
          color:$secondary;
          border-bottom: 2px solid $secondary;
        }
      }
    }
  }
}
