@import '../Variables.scss';

.section-divider{
  margin:150px 0 100px 0;
  background: $primary;
  padding:20px 0;
  text-align: center;
  h2{
    color:$white;
    font-size:36px;
    font-weight:bold;
    text-transform: uppercase;
  }

}
