@import '../Variables.scss';
.float-left-service{
  float:left;
}
.float-right-service{
  float:right;
}
.background-one{
  width:calc(50% - 600px);
  height:320px;
  float:left;
  background: $accent;
}

.background-two{
  width:calc(50% - 600px);
  height:320px;
  float:right;
  background: $accent;
}

.service-container{
  margin-bottom:40px;
  .left-padding{padding:20px 0 30px 15%;}
  .right-padding{padding:20px 15% 30px 0;}
  .service-content-container{
    background: $accent;
    width:70%;
    .text-padding-left{padding-left:80px;}
    .text-padding-right{padding-right:80px;}
    .service-text{
      width:50%;
      margin-top:30px;
      h2{
        text-transform: uppercase;
        font-weight:bold;
        font-size:28px;
        color:$white;
        margin-bottom:10px;
      }
      p{
        color:$white;
        font-size:22px;
      }
    }
  }
  .triangle-left{
    float:left;
    width: 0;
    height: 0;
    border-top: 320px solid transparent;
    border-left:100px solid $accent;
  }
  .triangle-right{
    float:right;
    width: 0;
    height: 0;
    border-top: 320px solid transparent;
    border-right:100px solid $accent;
  }
}

@media only screen and(max-width:1200px){
  .background-one{
    display:none;
    width:0;
    height:0;
    float:none;
  }

  .background-two{
    display:none;
    width:0;
    height:0;
    float:none;
  }
  .service-container{
    .left-padding, .right-padding{padding:20px 50px 30px 50px;}
    .service-content-container{
      width:100%;
      .service-text{
        width:60%;
      }
    }
    .triangle-left, .triangle-right{
      display:none;
      overflow: hidden;
    }
  }
}

@media only screen and (max-width:975px){
  .service-container{
    .service-content-container{
      .service-text{
        width:50%;
      }
    }
  }
}

@media only screen and (max-width:810px){
  .service-container{
    .left-padding, .right-padding{padding:20px $container-padding 30px $container-padding;}
    .service-content-container{
      .service-text{
        width:40%;
      }
    }
  }
}

@media only screen and (max-width:650px){
  .float-left-service, .float-right-service{
    float:none;
    display:inline-block;
  }

  .center-image-mobile{
    text-align: center;
  }
  .service-container{
    .service-content-container{
      .text-padding-left{
        padding:0;
      }
      .service-text{
        width:100%;
      }
    }
  }
}
