@import '../Variables.scss';

.full-width-background{
  background:$primary;
  padding:15px 0;
  margin-bottom:20px;
}

.center-certificate-previews{
  text-align: center;
}
.certPreview{
  width:auto;
  height:50px;
}

.certPreview + .certPreview{
  padding-left:30px;
}

/* MAIN CONTAINER */
@media only screen and (max-width:1200px){

}

/* IPAD PRO */
@media only screen and (max-width:1024px){

}

/* CUSTOM */
@media only screen and (max-width:910px){
  .certPreview{
    height:34px;
  }

  .certPreview + .certPreview{
    padding-left:15px;
  }
}

/* IPAD */
@media only screen and (max-width:768px){

}

/* CUSTOM */
@media only screen and (max-width:600px){
  .full-width-background{
    display:none;
  }
}

/* IPHONE 6/7/8 PLUS */
@media only screen and (max-width:414px){

}

/* IPHONE X/6/7/8 */
@media only screen and (max-width:375px){

}

/* IPHONE 5/SE */
@media only screen and (max-width:325px){

}
