@import '../Variables.scss';

.thumb-cert-container{
  background:$primary;
  padding:10px 0;
  .certPreview{
    max-width: 170px;
    height: auto;
    max-height: 70px;
  }
}
.certPreview + .certPreview{
  padding-left:40px;
}
@media only screen and (max-width: 1215px){
  .thumb-cert-container{
    padding:10px $container-padding;
    .certPreview{
      max-width: 12%;
      height: auto;
      max-height: 65px;
    }

  }
  .certPreview + .certPreview{
    padding-left:3%;
  }
}

@media only screen and (max-width:850px){
  .thumb-cert-container{
    .certPreview{
      max-height: 55px;
    }
  }
}

@media only screen and (max-width:750px){
  .thumb-cert-container{
    display:none;
  }
}
