@import '../Variables.scss';

.full-width-background{
  background:$primary;
  padding:10px 0;
}

.center-certificate-previews{
  text-align: center;
}
.certPreview{
  width:11%;
  max-width:130px;
  height:auto;
}

.certPreview + .certPreview{
  padding-left:20px;
}

/* MAIN CONTAINER */
@media only screen and (max-width:1200px){

}

/* IPAD PRO */
@media only screen and (max-width:1024px){

}

/* IPAD */
@media only screen and (max-width:768px){

}

/* CUSTOM */
@media only screen and (max-width:600px){
  .full-width-background{
    display:none;
  }
}

/* IPHONE 6/7/8 PLUS */
@media only screen and (max-width:414px){

}

/* IPHONE X/6/7/8 */
@media only screen and (max-width:375px){

}

/* IPHONE 5/SE */
@media only screen and (max-width:325px){

}
