@import 'Variables.scss';
@import 'reset.scss';

p, a, h1, h2, h3, li{
	font-family:$sans-serif;;
}
.main-container{
	width:1200px;
	margin: 0 auto;
}
.App{
	height:1200px;
}

.clear{
	clear:both;
}

.float-right{
  float:right;
}
.float-left{
  float:left;
}

.center-block{
	margin:0 auto;
}

.width-50{
	width:50%;
	float:left;
}

.position-relative{
	position:relative;
}
@media only screen and (max-width: 1215px) {
  .main-container {
    width:100%;
		margin:0 0;
  }
}
