$secondary:#DE5B49;
$primary:#324D5C;
$white:#ffffff;
$accent:#46B29D;
$neutral:#444444;
$sans-serif:'Myriad Pro', 'Gill Sans','Gill Sans MT', Calibri, sans-serif;
$serif:'Garamond',serif;
$container-padding:30px;
$main-font-size:1em;

// FONT SIZES
$h1:2.25em;
$h1-ipad:1.8em;
$h1-iphone:1.3em;
